{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- product section -->
<section class="product_section layout_padding">
   <div class="container">
      <div class="heading_container heading_center">
         <h2>
            Books To <span>Buy</span>
         </h2>
      </div>
      <div class="row">
         {% for j in pr %}
         <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="box">
               <div class="option_container">
                  <div class="options">
                     <a href="{% url 'addcart' j.id %}" class="option1">
                        Add To Cart
                     </a>
                     <a href="{% url 'detail' j.id %}" class="option2">
                        View
                     </a>
                  </div>
               </div>
               <div class="img-box">
                  <img src="{{j.img.url}}" alt="">
               </div>
               <div class="detail-box">
                  <h7>
                     {{j.name}}
                  </h7>
                  <h7>
                     ₹{{j.price}}/-
                  </h7>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
<!-- end product section -->

 <!-- client section -->
 <section class="client_section layout_padding">
    <div class="container">
       <div class="heading_container heading_center">
          <h2>
             Customer's Testimonial
          </h2>
       </div>
       <div id="carouselExample3Controls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
             <div class="carousel-item active">
                <div class="box col-lg-10 mx-auto">
                   <div class="img_container">
                      <div class="img-box">
                         <div class="img_box-inner">
                            <img src="{% static 'images/client.jpg' %}" alt="">
                         </div>
                      </div>
                   </div>
                   <div class="detail-box">
                      <h5>
                         Gowri Krishna
                      </h5>
                      <h6>
                         Customer
                      </h6>
                      <p>
                         Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis
                         reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad
                         labore modi voluptatibus accusantium sapiente nam! Quaerat.
                      </p>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="box col-lg-10 mx-auto">
                   <div class="img_container">
                      <div class="img-box">
                         <div class="img_box-inner">
                            <img src="{% static 'images/client1.jpg' %}" alt="">
                         </div>
                      </div>
                   </div>
                   <div class="detail-box">
                      <h5>
                         Anupama Bijoy
                      </h5>
                      <h6>
                         Customer
                      </h6>
                      <p>
                         Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis
                         reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad
                         labore modi voluptatibus accusantium sapiente nam! Quaerat.
                      </p>
                   </div>
                </div>
             </div>
             <div class="carousel-item">
                <div class="box col-lg-10 mx-auto">
                   <div class="img_container">
                      <div class="img-box">
                         <div class="img_box-inner">
                            <img src="{% static 'images/client2.jpg' %}" alt="">
                         </div>
                      </div>
                   </div>
                   <div class="detail-box">
                      <h5>
                         Pavithra G S
                      </h5>
                      <h6>
                         Customer
                      </h6>
                      <p>
                         Dignissimos reprehenderit repellendus nobis error quibusdam? Atque animi sint unde quis
                         reprehenderit, et, perspiciatis, debitis totam est deserunt eius officiis ipsum ducimus ad
                         labore modi voluptatibus accusantium sapiente nam! Quaerat.
                      </p>
                   </div>
                </div>
             </div>
          </div>
          <div class="carousel_btn_box">
             <a class="carousel-control-prev" href="#carouselExample3Controls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
             </a>
             <a class="carousel-control-next" href="#carouselExample3Controls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
             </a>
          </div>
       </div>
    </div>
 </section>

{% endblock %}